/*******************************************************************************
ID
*******************************************************************************/

#schermo{
    height: 100vh;
}

#left-bar{
    height: 100%;
    width: 50px;
    background-color: rgb(53, 50, 50);
    background-image: url(../img/sidebar-bg.png);
    
}

#contenuto-top{
    background-color: rgb(75, 130, 250);
}

#contenuto-bottom{
    background-color: rgb(242, 237, 237);
}


/*******************************************************************************
BTN-INPUT
*******************************************************************************/

.btn-notifiche{
    border: none;
}

.input-group{
    width: 75%;
}

.btn-reset{
    background-color: rgb(248, 211, 5);
    border-color: rgb(248, 211, 5);
    color: black;
}

/*******************************************************************************
CONTAINER
*******************************************************************************/

.container-table,
.container-faq{
    /* width: 65%; */
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}

.container-todo,
.container-grafico{
    border: 1px solid black;
    border-radius: 10px;
    background-color: white;
}


.contenuto{
    height: 100%;
    width: calc(100% - 50px);
    overflow-x: hidden;
    overflow-y: auto;
}

/*******************************************************************************
UTILITY
*******************************************************************************/

.w-88{
    width: 88%;
}

.w-95{
    width: 95%;
}

main{
    height: 100%;
    padding-top: 76px;
}

.hover-gray:hover{
    background-color: rgb(194, 190, 190)
    ;
}

/*******************************************************************************
MEDIA
*******************************************************************************/

@media only screen and (min-width:992px){
    #left-bar{
        width: 100px;
    }

    #offcanvasRight{
        width: 45%!important;
    }

    .contenuto{
        height: 100%;
        width: calc(100% - 100px);
    }

    main{
        padding-top: 54px;
    }
}

